$primary-color: #243a65;
$primary-color-light: #4dabf5;
$menu-hover-color: #fff176;
$primary-back-color: #09090b;

.App {
  display: flex;
  flex-direction: column;
  position: fixed; /* Fix the position */
  top: 0; /* Position at the top of the viewport */
  width: 100%; /* Occupy the full width */
  padding: 20px;
  .brand-logo {
    display: flex;
    align-self: flex-end;
    cursor: pointer;
  }
  .brand-logo__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .brand-logo__text {
    padding: 5px;
    font-size: 11px;
    font-weight: 7400;
    color: $primary-color-light;
    align-self: center;
    transition: all 0.3s;
    display: flex;
    &:hover {
      filter: brightness(0.8);
    }
  }
  .brand-logo__avatar {
    background-color: $primary-color;
  }
}
.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh; /* Use 100% of the viewport height */
}
.about {
  display: flex;
  width: 100%;
  max-width: 900px;
  background-color: rgb(16, 15, 15);
  color: white;
  padding: 20px;
  align-items: center;
  column-gap: 50px;
  row-gap: 1px;
  // border: 1px solid rgb(143, 137, 137);
  .about__left {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 30px;
    .about__left_name {
      display: inline-block;
      background-color: white;
      padding: 2px 15px;
      font-size: 30x;
    }
    .about__left_name__first-name {
      @extend .about__left_name;
      display: flex;
      background-color: white;
      justify-content: center;

      color: black;
    }
    .about_left_name__second-name {
      @extend .about__left_name;
      background-color: $primary-color;
      color: white;
      display: flex;
      justify-content: center;
    }
  }
  .about__right {
    margin: 0 auto;
    text-align: center;
    .about__logo {
      font-size: 14px;
      align-self: center;
      border-radius: 50%;
      height: 300px;
      width: 300px;
      cursor: pointer;
      background-color: rgb(24, 23, 23);
      /* box-shadow: 5px 5px 8px 0px rgb(83, 82, 81); */
    }
  }
}

.about-menu {
  flex-direction: row;
  column-gap: 6px;
  display: flex;
  justify-content: center;
  color: rgb(26, 26, 24);
  &:hover {
    color: $menu-hover-color;
    filter: brightness(0.8);
    transition: all 0.3s;
  }
}
.about-menu-item {
  &:hover {
    color: $menu-hover-color;
    filter: brightness(0.8);
  }
}

.footer {
  color: #ebd696;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  font-weight: 300;
  width: 100%;
  font-size: 11px;
  &:hover {
    filter: brightness(0.7);
    transition: all 0.5s ease;
  }
}


.btn-download {
  padding: 5px 8px;
  font-size: 10px;
  font-weight: 800;
  position: fixed;
  bottom: 40px;
  margin: 0 auto;
  z-index: 100;
  background-color: white;
  color: $primary-color;
  border-radius: 25px;
  transition: all 0.3s ease;

  &:hover {
    color: $primary-color;
  }
}
.btn-counter {
  padding: 2px;
  color: black;
  font-size: 10px;
  font-weight: 800;
  margin: 0 auto;
  margin-top: 10px;
  text-align: center;
  width: 80px; /* Set the minimum height for the button */
  background-color: $primary-color-light;
  border: solid 1px $primary-color;
  position: fixed;
  bottom: 0;
  border-radius: 25px;
}
