$primary-color: #37474f;
$primary-color-light: #4dabf5;
$menu-hover-color: #fff176;
$width: 100%;
.notes-container {
  flex-direction: column;
  display: flex;
  margin: 0 auto;
  margin-top: 55px;
  max-width: 96%;
  height: 100%;
  .notes__about {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
  }
}

.jp_btn_menu_container {
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
  padding: 5px;
  flex-wrap: wrap;
  width: $width;
  max-height: 100px;
  column-gap: 4px;
  border-radius: 5px;
  background-color: rgb(28, 26, 26);
  border: solid 1px $primary-color;
  overflow-y: scroll;
}

.jp_vmd_container {
  margin: 0 auto;
  margin-top: 10px;
  width: $width;
  border: solid 1px $primary-color;
}
