.summary_container {
  padding: 100px;
  align-items: center;
  justify-content: center;
}
.summary_cards {
  padding: 10px;
  width: 80%;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .summary_cards {
    flex-direction: column;
  }
}
.jp_sc_card {
  width: 230px;
  min-width: 230px;
  background-color: rgb(37, 38, 38);
  border: 1px solid #004d40;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.1);
  }
  //   .jp_sc_card__body {
  //     border: 1px solid #004d40;
  //   }
}

.jp_sc_card__body__text {
  padding: 1cap;
  height: 130px;
  align-self: flex-start;
  color: #bcc6c4;
  display: flex;
}
