$summary-card-text-color: #bcc6c4;
// override the styles from react-jp-ui
.summary_container {
  padding-top: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.summary_cards {
  padding-top: 25px;
  margin: 0 auto;
  max-width: 900px;
  display: flex;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  justify-content: center;
}

.jp_sc_card {
  width: 230px;
  min-width: 230px;
  background-color: rgb(37, 38, 38);
  border: 1px solid $primary-color;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.1);
  }
  //   .jp_sc_card__body {
  //     border: 1px solid #004d40;
  //   }
}

.jp_sc_card__body__text {
  padding: 1cap;
  height: 130px;
  align-self: flex-start;
  color: $summary-card-text-color;
  display: flex;
}
.jp_sc_card__title__logo {
  align-self: center;
  padding-left: 2px;
  margin-bottom: 10px;
}

//mobile view
@media screen and (max-width: 900px) {
  .summary_container {
    padding-top: 10px;
  }
  .summary_cards {
    padding-top: 10px;
  }
}
