/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

a {
  color: inherit;
  text-decoration: none;
}
.my-link {
  text-decoration: underline; /* Add an underline */
  color: #26a69a; /* Set the link color */
  font-weight: bold; /* Make the text bold */
  /* Add other styles as needed */
}
.my-link:hover {
  color: #1de9b6; /* Change the color on hover */
  /* Add other hover styles as needed */
}

ul {
  list-style: none;
}

/*BASE STYLES*/
body {
  background-color: rgba(20, 20, 20, 1);
  font-family: "Segoe UI", sans-serif;
  height: 100vh;
  padding-top: 8ch;
}

/*NORMAL STYLES*/
.header {
  position: fixed;
  width: 100%;
  top: 12px;
  backdrop-filter: blur(2px);
  display: flex;
  row-gap: 1px;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  z-index: 999;
  border-radius: 50px;
}
.top-bar {
  background-color: rgba(227, 227, 227, 0.8);
  /* border-radius: 50px;  */
  width: 70%;
  opacity: 1;
  margin: 0 auto;
  max-width: 1000px;
}

.top-bar__content {
  padding: 0 10px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-bar {
  background-color: rgba(45, 45, 44, 0.8);
  margin: 0 auto;
  display: flex;
  opacity: 1;
  width: 70%;
  padding: 2px;
  justify-items: end;
  max-width: 1000px;
  justify-content: flex-end;
}

.bottom-bar__content {
  padding: 0 20px;
  font-size: 14px;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
}

.logo__text {
  color: #0e0f0e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.logo__desc {
  color: #0e0e0f;
  font-size: 14px;
  font-weight: 700;
  width: 300px;
  letter-spacing: -0.5px;
  word-wrap: normal;
  white-space: normal; /* Allow text to wrap to the next line */
}

/*CONTENTS*/

.content {
  height: 100vh;
  max-width: 1200px;
  font-size: 14px;
  margin: 0 auto;
  display: grid;
  gap: 1px;
  border: "none";
  padding: 60px 160px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas:
    "main"
    "career";
}

.about {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: rgb(16, 15, 15);
  color: white;
  padding: 100px 10px;
  align-items: center;
  column-gap: 1px;
  row-gap: 1px;
  /* border: 1px solid rgb(143, 137, 137); */
  justify-content: end;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.about__left {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 48px;
}

.about-menu {
  flex-direction: row;
  column-gap: 10px;
  display: flex;
  justify-content: center;
  color: rgb(26, 26, 24);
}

.about-menu-item {
  transition: all 0.3s;
  &:hover {
    color: #d33b41;
    filter: brightness(0.8);
  }
}

.about__right {
  /* border: 2px solid rgb(143, 137, 137); */
  text-align: center;
}

.main {
  grid-area: main;
  border: 1px solid rgb(143, 137, 137);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;
  padding: 1px;
  border: none;
  margin: auto;
  grid-template-areas:
    "c1 c1 c1"
    "c2 c2 c3"
    "c2 c2 c4"
    "c2 c2 c5"
    "c2 c2 c6"
    "c7 c7 c7"
    "c8 c9 c10"
    "c11 c11 c11"
    "c12 c12 c12";
}
.headerContent {
  background-color: #212121;
  grid-area: header;
  padding: 20px;
  text-align: left;
  font-size: 12px;
}
.careerContent {
  background-color: #212121;
  grid-area: career;
  transition: all 03s;
}

.card {
  background-color: #212121;
  border: none;
  display: flex;
}

.card:nth-child(1) {
  grid-area: c1;
}
.card:nth-child(2) {
  grid-area: c2;
}
.card:nth-child(3) {
  grid-area: c3;
}
.card:nth-child(4) {
  grid-area: c4;
}
.card:nth-child(5) {
  grid-area: c5;
}
.card:nth-child(6) {
  grid-area: c6;
}
.card:nth-child(7) {
  grid-area: c7;
}
.card:nth-child(8) {
  grid-area: c8;
}
.card:nth-child(9) {
  grid-area: c9;
}
.card:nth-child(10) {
  grid-area: c10;
}
.card:nth-child(11) {
  grid-area: c11;
}
.card:nth-child(12) {
  grid-area: c12;
}
.card:nth-child(13) {
  grid-area: c13;
}
@media (max-width: 925px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 300px);
    grid-template-areas: initial;
  }
  .about {
    flex-direction: column;
  }
  .card {
    grid-area: initial !important;
  }
  .content {
    padding: 50px 10px 10px;
  }
}

/* UTILITIES */
.u-bold {
  font-weight: 500;
}

.u-bolder {
  font-weight: 700;
}

.u-yellow {
  color: rgba(255, 236, 179, 0.8);
}

.u-red {
  color: #e57373;
  display: inline-block;
}
/* MOTO */
.about__moto {
  font-size: 14px;
  align-self: center;
  border-radius: 70px;
  padding: 13px;
  /* background-color: rgb(24, 23, 23);
  box-shadow: 11px 9px 10px 0px rgb(31, 31, 30); */
  & :hover {
    filter: brightness(1.5);
    transition: all 0.5s ease;
  }
}
.about__logo {
  font-size: 14px;
  align-self: center;
  border-radius: 50%;
  background-color: rgb(24, 23, 23);
  /* box-shadow: 5px 5px 8px 0px rgb(87, 86, 80);   */
}
.u-blue {
  color: #64b5f6;
  padding-top: 10px;
}
.u-green {
  color: #ea80fc;
  display: inline-block;
}
.u-orange {
  color: #64ffda;
  display: inline-block;
}
.u-white {
  color: rgb(234, 231, 229);
  font-size: 28px;
  font-weight: bold;
  display: inline-block;
  padding-top: 1px;
}
/* INTRO */
.list-text {
  padding: 15px 40px;
  color: #d2d5d6;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.9;
  font-weight: 400;
}
.intro {
  padding: 15px 40px;
  color: #d2d5d6;
  font-size: 14px;
  line-height: 1.5;
  opacity: 0.9;
  font-weight: 300;
}

.emoji {
  font-size: 35px;
  margin-top: -8px;
  margin-left: 3px;
}

.basic-text {
  opacity: 0.9;
  font-weight: 400;
  margin-top: 18px;
  line-height: 1.4;
}
.about__left__caption {
  opacity: 0.9;
  font-weight: 400;
  margin-top: 18px;
  line-height: 1.4;
  color: #ffb74d;
}
.about__left__sub_caption {
  opacity: 0.9;
  margin-top: 16px;
  padding: 10px 50px;
  font-size: 16px;
  line-height: 1.4;
  text-align: center;
}
.card__title {
  font-family: "Segoe UI", Courier, monospace;
  font-weight: 400;
}

.basic-text--exp {
  font-size: 12px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.1;
}

.basic-text--second {
  display: block;
}

/* BUTTON */
.skills-btn {
  background-color: #fff;
  font-size: 10px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.5px;
  padding: 2px 2px;
  margin-right: 3px;
  margin-bottom: 3px;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.8);
  }
}

.btn {
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 5000px;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.15);
}

.btn--contact {
  animation: fade-down 0.5s 0.4s backwards;
}

.btn--download {
  padding: 16px 32px;
  font-size: 1px;
  position: fixed;
  bottom: 27px;
  left: calc(50% - 96px);
  border-radius: 5000px;
  z-index: 100;
  box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
  animation: fade-up 0.5s 0.4s backwards;
}

.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 5000px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 01s;
}
.btn:hover {
  background-color: #3e8fe0;
}
.tooltip-container {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}

.tooltip-trigger {
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
  font-size: 14px;
}

.tooltip-trigger:hover + .tooltip-text {
  display: block;
}

.hexagon-button {
  display: inline-block;
  width: 70px;
  height: 50px;
  background-color: #c9264f;
  color: white;
  text-align: center;
  padding-top: 15px;
  text-decoration: none;
  clip-path: polygon(
    50% -20%,
    100% 25%,
    100% 75%,
    50% 120%,
    /*bottom*/ 0% 75%,
    0% 25%
  );

  transition: background-color 0.2s ease-in-out;
}

.hexagon-button:hover {
  background-color: #e04e5e;
}
