/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/*BASE STYLES*/
body {
  background-color: rgb(62, 62, 63);
  font-family: "inter", sans-serif;
  height: 100vh;
  padding-top: 8ch;
}

/*NORMAL STYLES*/
.header {
  position: fixed;
  width: 100%;
  top: 10px;
  backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
}
.top-bar {
  background-color: rgb(227, 227, 227);
  border-radius: 50px; /* Use your desired value or values */
  width: 70%;
  opacity: 1;
  margin: 0 auto;
  max-width: 1200px;
}

.top-bar__content {
  padding: 0 30px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
  animation: fade-down 0.5s 0.4s backwards;
}

.logo__text {
  color: #0e0f0e;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

/*CONTENTS*/
.content1 {
  height: 100vh;
  max-width: 1220px;
  padding: auto;
  margin: 0 auto;
  background-color: rgb(125, 119, 119);
  display: flex;
}
.content {
  height: 100vh;
  max-width: 1200px;
  font-family: "inter", sans-serif;
  font-size: 14px;
  margin: 0 auto;
  display: grid;
  gap: 1px;
  padding: 50px 160px 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 170px 1fr;
  grid-template-areas:
    "header"
    "main"
    "career";
}

.main {
  grid-area: main;
  background-color: rgb(100, 97, 97);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1px;
  padding: 1px;
  border: none;
  grid-template-areas:
    "c1 c1 c2"
    "c1 c1 c3"
    "c4 c4 c6"
    "c5 c5 c6";
}
.headerContent {
  background-color: rgb(30, 30, 33);
  grid-area: header;
  transition: all 03s;
}
.careerContent {
  background-color: rgb(30, 30, 33);
  grid-area: career;
  transition: all 03s;
}

/* .headerContent:hover {
  background-color: #3e8fe0;
  transform: scale(110%);
} */

.card {
  background-color: rgb(30, 30, 33);
  border: none;
  height: 20;
}

/* div:hover > :nth-child(2) {
  background-repeat: repeat;
}
.card:nth-child(2) {
  grid-area: c2;
  transition: all 0.3s;
}

.card:nth-child(2):hover {
  transform: scale(110%);
} */

.card:nth-child(1) {
  grid-area: c1;
}
.card:nth-child(2) {
  grid-area: c2;
}
.card:nth-child(3) {
  grid-area: c3;
}
.card:nth-child(4) {
  grid-area: c4;
}
.card:nth-child(5) {
  grid-area: c5;
}
.card:nth-child(6) {
  grid-area: c6;
}

@media (max-width: 925px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 200px);
    grid-template-areas: initial;
  }
  .card {
    grid-area: initial !important;
  }
}

/* UTILITIES */
.u-bold {
  font-weight: 500;
}

.u-bolder {
  font-weight: 700;
}

.u-yellow {
  color: #ffd600;
}

.card:nth-child(2) {
  grid-area: c2;
  transition: all 0.3s;
}

/* INTRO */
.intro {
  padding: 15px 40px;
  animation: fade-up 0.5s;
  color: #fff;
}

.first-heading {
  font-size: 16px;
  font-weight: 600;
  opacity: 0.94;
  display: flex;
  justify-content: start;
  align-items: center;
}

.emoji {
  font-size: 35px;
  margin-top: -8px;
  margin-left: 3px;
}

.text {
  font-size: 16px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.1;
}

.text--exp {
  font-size: 12px;
  opacity: 0.9;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.1;
}

.text--second {
  display: block;
}

/* BUTTON */
.skills--btn {
  background-color: #fff;
  font-size: 10px;
  font-weight: 500;
  color: #000;
  letter-spacing: 0.5px;
  padding: 5px 10px;
  transition: all 0.3s;
  &:hover {
    filter: brightness(0.8);
  }
}

.btn {
  background-color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  border-radius: 5000px;
  transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.15);
}

.btn--contact {
  animation: fade-down 0.5s 0.4s backwards;
}

.btn--download {
  padding: 16px 32px;
  font-size: 1px;
  position: fixed;
  bottom: 27px;
  left: calc(50% - 96px);
  border-radius: 5000px;
  z-index: 100;
  box-shadow: 0 6px 23px rgba(0, 0, 0, 0.45);
  animation: fade-up 0.5s 0.4s backwards;
}

.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 8px 20px;
  border-radius: 5000px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 01s;
}
.btn:hover {
  background-color: #3e8fe0;
}
ul {
  list-style-image: url("custom-marker.png"); /* Use a custom image as the bullet */
}
.timeline-icon {
  font-size: 10px; /* Adjust the font size to control icon size */
  /* Additional icon styles like color, padding, etc. */
}
